html, body{
    overflow-x: hidden;
    font-size: 15px;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: nimbus !important;
}
.hidden{
    visibility: hidden;
}
:root{
    --yellow: rgb(255, 210, 28);
    --blurwhite: rgba(255, 255, 255, 0.129);
}
.star {
    color: #ddd;
    font-size: 2em;
    position: relative;
}

.star.full:before {
    color: var(--yellow);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}

.star.half:before {
    color: var(--yellow);
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

@-moz-document url-prefix() { /* Firefox Hack :( */
  .star {
    font-size: 50px;
    line-height: 34px;
  }
}
@font-face {
    font-family: nimbus;
    src: url(../fonts/tannimbus.otf)
}
/* icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}
::selection{
    opacity: 0;
}
#text{
    max-height: 30vh;
    overflow-y: scroll;
    z-index: 10;
    padding: 20px 20px;
    top: 30px;
    visibility: hidden;
    left: 250px;
    font-family: spline;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color:azure;
    background-color:#a31318;
    width: 50vw;
    margin: auto;
    min-height: 10vh;
    border-radius: 0px 10px 10px 10px;
    overflow-y: auto;
}
#conclu{ 
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    font-family: spline;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    margin: 10px 0 0 120px;
    display: flex;
    align-items: center;
}

#noti{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 30vw;
    height: 10vh;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: max-content;
    padding: 0 20px;
}

#back-home{
    color: white;
    font-size: 40px;
    position: fixed;
    margin-left: 20px;
    font-weight: bold;
}

a{
    z-index: 1000;
    text-decoration: none;
}

.heart-btn-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.heart {
    position: absolute;
    opacity: 1;
    animation: heart-fly 1s forwards;
}

.heart-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    pointer-events: none;
}

@keyframes heart-fly {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(1.5);
    }
}

@keyframes bling{  /*hiệu ứng nhấp nháy để gây chú ý*/
    0%{
        filter: brightness(100%) saturate(100%) drop-shadow(0px 0px 0px rgb(255, 255, 255));
    }
    20%{
        filter: brightness(1000%) saturate(0%) drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    40%{
        filter: brightness(100%) saturate(100%)  drop-shadow(0px 0px 0px rgb(255, 255, 255));
    }
    60%{
        filter: brightness(1000%) saturate(0%) drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
    80%{
        filter: brightness(100%) saturate(100%)  drop-shadow(0px 0px 0px rgb(255, 255, 255));
    }
    100%{
        filter: brightness(1000%) saturate(0%) drop-shadow(10px 10px 10px rgb(255, 255, 255));
    }
}

.gg-translate{
    position: fixed;
}