body{
    background-color: var(--cwhite);
    color: var(--dark-blue);
}

.elms{
    margin: 30px 0 10px 5vw;
    width: 90vw;
}

h1 {
    text-align: center;
    font-size: 5em;
}

h4{
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: decimal;
    list-style-position: inside;
}

ul li {
    width: 100%;
    font-family: monospace;
    font-size: 1.5em;
    text-align: left;
    padding-bottom: 10px;
}

ul img {
    cursor: pointer;
    max-width: 90vw;
    padding-bottom: 30px;
    object-fit: cover;
}

#btn {
    padding: 10px 20px;
    background-color: crimson;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: monospace;
    margin-left: calc(50vw - 70px);
    font-weight: bold;
}
#btn:hover{
    background-color: brown;
}
#home{
    position: fixed;
    margin: 5vh 50px;
}