body {
    overflow-x: hidden;
}

#additional {
    width: 100vw;
}

#first {
    background-image: url(/assets/test8.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: black 0px -23px 100px 0px inset, rgba(0, 0, 0, 0.665) 0px -36px 100px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#first h1 {
    filter: drop-shadow(0 0 30px black);
    font-size: 9.5vw;
}

#first p {
    opacity: 1;
    filter: drop-shadow(0 0 10px black);
}

#first a {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    color: black;
    background-color: white;
    filter: drop-shadow(0 0 30px black);
}


#account {
    z-index: 10;
    position: fixed;
    width: 98vw;
    height: 15vh;
    display: flex;
    justify-content: right;
    align-items: center;
    filter: drop-shadow(0 0 20px black);
}

#account .user-info {
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    color: black;
    margin-right: 15px;
}

#accoutn .user-info p {
    font-size: 2rem;
}

#account .user-info i {
    opacity: 0.6;
    font-size: 0.8rem;
}

#account .user-info i::after {
    content: " point(s)";
}

#nav{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    margin: 33px 0 0 1.5vw;
    padding: 12px 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    filter: drop-shadow(0 0 20px black);
    border: 1px solid white;
    border-radius: 30px;
}

#nav .btn{
    width: calc(100% /  var(--quantity));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#nav .btn svg {
    width: 1.5em;
    padding-right: 5px;
}

#nav .btn a{
    color: white;
    margin-top: 5px;
}

#nav .btn:hover a{
    text-decoration: underline;
}
#nav .btn:hover{
    transform: scale(1.1);
}

#avt {
    z-index: 2;
    cursor: pointer;
    border: 2px solid white;
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

#introduction {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    height: max-content;
}

#introduction h2 {
    z-index: 3;
    margin-bottom: 10px;
}

#introduction p {
    width: 90%;
    opacity: 0.6;
    font-size: 15px;
    line-height: 25px;
}

#login-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: end;
    filter: drop-shadow(0 0 5px black);
}

#topics {
    filter: drop-shadow(0 0 50px black);
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

#topics .card {
    border: 10px solid white;
    cursor: pointer;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blurwhite);
    border-radius: 20px;
    width: 28%;
    height: 70%;
    transition: all 0.2s;
    color: white;
}

#topics .card img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: inherit;
}

#topics .card div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#topics .card div p {
    font-size: 10px;
    opacity: 0.6;
    width: 100%;
    text-align: center;
}

#topics .card:hover {
    transform: rotate(-2deg) scale(1.1);
}

#footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

#footer .part {
    height: 100%;
}

#additional {
    width: 60%;
}

#credit {
    width: 40%;
    border-left: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#credit a, #additional a {
    color: rgb(122, 180, 255);
    line-height: 30px;
    transition: all 0.2s;
}

#credit a:hover, #additional a:hover {
    color: rgb(32, 129, 255);
}

#additional h2 {
    width: 100%;
    text-align: center;
}

#additional p,
b {
    line-height: 30px;
    margin-left: 2vw;
}

#additional p {
    color: rgba(255, 255, 255, 0.508);
}

#additional b {
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.heart-btn-container{
    width: 100%;
}

#donate-btn{
    margin-top: 3%;
    padding: 5px 10%;
    background-color: crimson;
    color: white !important;
    border-radius: 30px;
}
#donate-btn:hover{
    filter: brightness(40%);
}

#anim-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}

.slider {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    border-radius: 20px;
    position: absolute;
    width: 450px;
    height: 250px;
    transition: transform 1.5s, opacity 2s, z-index 2s;
    opacity: 0;
    transform: scale(0.5) translateX(0);
    z-index: 0;
    object-fit: cover;
}

.slider img.middle {
    transform: scale(1) translateX(0);
    opacity: 1;
    z-index: 3;
}

.slider img.left {
    transform: scale(0.8) translateX(-450px);
    opacity: 0.7;
    z-index: 1;
}

.slider img.right {
    transform: scale(0.8) translateX(450px);
    opacity: 0.7;
    z-index: 2;
}

.part{
    width: 100vw;
    height: auto;
    background-color: black;
}

#leader-board{
    width: 90vw;
    margin: 0 5vw;
    background-color: white;
    border-radius: 20px;
    min-height: 20vh;
}
#leader-board h1{
    padding: 30px 0 0 0;
    color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
#leader-board h1 svg{
    margin-top: -10px;
    margin-right: -10px;
}

#leader-board div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#leader-board div .card{
    width: 90%;
    color: var(--red-brown);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: var(--cwhite);
    padding: 20px 0;
    margin-bottom: 20px;
}

#leader-board div .card .avt{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid brown;
}

#leader-board div .card img{
    width: 50px;
    height: 50px;
}