body{
    background-color: var(--dark-blue);
    color: var(--cwhite);
}
.no-result{
    position: fixed;
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 90vw;
    margin-left: 10vw;
    margin-top: 10vh;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
#main details{
    cursor: pointer;
    width: calc(100% / 4);
    margin-top: 20px;
    padding: 10px 0;
    text-align: left;
}
#main details summary{
    font-size: 40px;
    margin-bottom: 10px;
}
#main details p{
    cursor: pointer;
    opacity: 0.6;
    margin-left: 5em;
    text-align: left;
    font-size: 1.5em;
    transition: all 0.2s;
}

#main details p:hover{
    color: brown;
}

#top{
    display: flex;
    width: 90vw;
    margin-left: 10vw;
    justify-content: left;
    align-items: center;
}

#top .option{
    padding: 10px 20px;
    border: none;
    background-color: var(--cwhite);
    color: var(--red-brown);
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}