body{
    background-color: var(--dark-blue);
    font-family: nimbus;
    overflow-x: hidden;
    font-size: 15px;
}

:root{
    --blur: rgba(255, 255, 255, 0.264);
}

#main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    position: relative;
    color: var(--red-brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: var(--cwhite);
    border-radius: 30px;
    width: 95vw;
    height: 32vh;
    cursor: pointer;
}
.card b{
    padding: 10px 0;
    position: relative;
}
.card b svg{
    position: absolute;
    top: 15%;
    left: -20%;
}
.card img{
    height: 90%;
    width: 30%;
    object-fit: cover;
    border-radius: 20px;
}
.card .date{
    opacity: 0.6;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.card svg{
    position: absolute;
    top: 20px;
    right: 20px;
}
.info{
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info h1{
    font-size: 2vw;
    margin-top: 3cqh;
}
.info p{
    opacity: 0.6;
    font-size: 15px;
}
.info a{
    width: 100%;
    height: 10%;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    color: var(--cwhite);
    background-color: crimson;
}
.tag{
    margin-top: 2%;
    display: flex;
    align-content: center;
}
.tag span{
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 10px;
    color: var(--cwhite);
    background-color: crimson;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rating i{
    margin-top: 10px;
    font-size: 15px;
    opacity: 0.6;
}

#search{
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search input{
    border: none;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 15px;
}

#sort{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category{
    margin-left: calc(5vw / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 15px;
}

.category span{
    font-size: 15px;
    color: var(--cwhite);
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 30px;
    line-height: 1;
}
.category span b{
    margin-left: 3px;
    font-size: 20px;
    line-height: 15px;
}

.category span:hover{
    background-color: var(--blur);
}

.chosen{
    color: brown !important;
    background-color: rgba(255, 255, 255, 0.51);
}
#back-home{
    filter: drop-shadow(0 0 5px black);
}

.clicked{
    filter: sepia(100%) brightness(90%);
}