<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exscimula</title>
    <link rel="stylesheet" href="../css/colors&fonts.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/search-by-tags.css">
</head>
<body>
    <a id="back-home" href="../index">↩</a><br><br>

    <div id="top">
        <button name="chemis" class="option option-chosen">Chemistry</button>
        <button name="phys" class="option">Physics</button>
        <button name="bio" class="option">Biology</button>
    </div>

    <div id="main">
        <br><br>
    </div>

    <script type="module" src="../js/search-by-tags.js"></script>
</body>
</html>